[submodule "HelloThere"]
	path = HelloThere
	url = ./HelloThere.git
[submodule "DumbAdder"]
	path = DumbAdder
	url = ./DumbAdder
[submodule "Context"]
	path = Context
	url = ./Context
[submodule "PokerServer"]
	path = PokerServer
	url = ./PokerServer/
